/* -------------------------------- */
/*            NAVBAR                */
/* -------------------------------- */
nav {
  background-color: #191f2f;
}
nav a:hover {
  background-color: #222a40;
}
nav a.active {
  background-color: #2b3550;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  color: white;
  padding: 1rem 1.5rem;
  text-decoration: none;
}

.navend {
  display: flex;
  margin-left: auto;
}


/* -------------------------------- */
/*           SUBNAVBAR              */
/* -------------------------------- */
.subnavbar {
  height: 6rem;
  display: flex;
  align-items: center;
  background-color: #303747;
}

.subnavbar h1 {
  font-size: 2rem;
  margin: 0;
  padding: 1.5rem;
}
