@import "tailwindcss";
@import "react-datepicker/dist/react-datepicker.css";

@theme {
  --color-primary: #191f2f;
  --color-primary-hover: #222a40;
  --color-primary-active: #2b3550;
  --color-primary-text: #FFFFFF;
  --color-secondary: #303747;
  --color-tertiary: #fff4f3;
  --color-quaternary: #e2c7c0;
  --color-task-box: var(--color-tertiary);
  --color-checkmark: #d5aea4;
  --color-text-dark: #191f2f;
  --color-coin-area: #fde7cd;
  --color-coin-value: #dd9d30;
}

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: var(--color-quaternary);
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  /* width: 1126px; */
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-family: var(--heading);
  font-weight: 500;
  font-size: 56px;
}

h2 {
  font-family: var(--heading);
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}



/* -------------- HOME PAGE -------------- */
/* --------------------------------------- */
nav a {
    display: block;
    color: var(--color-primary-text);
    padding: 0.7rem 1.2rem;
    &:hover {
        background-color: var(--color-primary-hover);
    }
    &.active {
        background-color: var(--color-primary-active);
    }
}

.task-element {
  @apply bg-quaternary rounded p-2;
}



/* --------------- TASK FORM --------------- */
/*  DatePicker sub-element cannot            */
/*  be targeted with Tailwind                */
/* ----------------------------------------- */
.react-datepicker,
.react-datepicker__time-list-item {
  background-color: var(--color-task-box)
}

.react-datepicker__header {
  background-color: var(--color-secondary);
  & h2, div {
    color: var(--color-primary-text);
  }
}

.react-datepicker__day--selected,
.react-datepicker__time-list-item--selected {
  background-color: var(--color-quaternary) !important;
  color: var(--color-primary) !important;
}

.react-datepicker__day:hover,
.react-datepicker__time-list-item:hover {
  background-color: 
    color-mix(in srgb, var(--color-quaternary), transparent 60%) !important;
}

.react-datepicker__tab-loop {
  position: absolute;
}

.react-datepicker__primaryigation-icon--previous,
.react-datepicker__primaryigation-icon--next {
  top: 4px;
}

.react-datepicker__triangle {
  display: none;
}